
*{
    margin: 0px;
    padding: 0px;
    background-color: #E4EAF8;
}

:root{
    --white : #FFFFFF;
    --blue-claro: #9DBCF3;
    --primary: #255ff4;
    --dur: 1s;
    --input: #ffffff;
}

@media only screen and (max-width: 500px) {

    .search-box{
        width: fit-content;
        height: fit-content;
        position: relative;
        margin-left: 43px;
        top: -3px;
    }
    
    
    .btn-search{
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color:#ffffff ;
        background-color:transparent;
        pointer-events: painted;
    }

    
    input[type="text"] {
        height: 43px;
        font-size: 14px;
        display: inline-block;
        font-family: "Poppins";
        font-weight: 100;
        border: none;
        outline: none;
        color: #555;
        
        padding: 3px;
        padding-left: 10px;
        padding-right: 50px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
    }
    
    input[type="text"]:focus:hover {
        margin-top: 3px;
        margin-right: 35px;
        border-radius: 10px 0px 0px 10px;
        background: var(--white);
        
    }
    
    input[type="text"]:focus {
        
        width: 200px;
        z-index: 1;
        border-bottom: none;
        cursor: text;
    }
    button[type="submit"] {
        display: inline-block;
        border: none;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;

        cursor: pointer;
        transition: opacity .4s ease;
    }
    
    button[type="submit"]:hover {
        opacity: 0.8;
    }


    /* HEADER ========================*/

    .head-menu{
        display: flex;
        justify-content: space-between;
    }
    .btn-header {
        margin-top: 20px;
        margin-left: 16px;
        margin-right: 16px;
        min-width: 49px;
        height: 49px;
        background-color: var(--white);
        border-radius: 10px;
        cursor: pointer;
    }
    .btn-menu{
        margin-top: 11px;
        margin-left: 11px;
        background-color: var(--white);
    }
    #form{
        border-radius: 10px;
        background-color: var(--white);
    }

    /*TITLE LOCALIDADE ===================*/
    .local{
        margin-top: 30px;
    }
    .title-local{
        margin-top: -6%;
        left: 27.47%;
        right: 27.47%;
        bottom: 89.16%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

    .desc-local{
        position: relative;
        text-align: center;
        top: 18%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        color: #000000;
    }

    /*IMAGEM PRINCIPAL/GRAUS=================*/

    .img-clima{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px
    }
    
    .graus{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #000000;
    }

    /*INFO / OVERVIEW DAS TEMPERATURAS ETC..=============*/

    .info{
        margin: auto;
        display: flex;
        margin-top: 20px;
        max-width: 91.46%;
        height: 100px;
        background: var(--white);
        border-radius: 10px;
    }

    .grid{
        margin: auto;
        display: flex;
        flex-direction: column;
        min-width: 65px;
        text-align: center;
        background-color: var(--white);
    }
    .icon-info{
        margin: auto;
        margin-bottom: 10px;
        background-color: var(--white);
    }
    .style-info{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #C1C1C1;
        background-color: var(--white);
    }

    /*HEADER DAYS/HOURS =====================*/

    .head{
        height: 60px;
        display: flex;
        justify-content: space-between;
    }

    .header-hours {
        margin-top: 29px;
        margin-left: 16px;
        margin-right: 16px;
        min-width: 49px;
        min-height: 49px;
        cursor: pointer;
    }
    .day{
        margin-top: 11px;
        margin-left: 11px;

        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
    }
    .view-all::after{
        content:''; 
        display:block; 
        width:100%; 
        height:2px; 
        background:#C1C1C1; 
        margin:0 auto; 
        margin-top:2px; 
        border-radius:3px;
    }

    /*CARDS HOURS =====================*/

    .card{
        height: 147px;
        width: 69px;
        margin-left: 15px;
        top: 576px;
        border-radius: 10px;
        margin-bottom: 20px;
        
        border-radius: 10px;
    }
    .section-cards{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 20px;
        overflow-x: auto;
    }
    
    .section-cards {
        overflow: hidden;
        margin-left: .8rem;
        margin-right: .8rem;
        border-radius: .5rem;
        transition: box-shadow .3s, transform .3s;
    }

    .card:hover {
        z-index: 999;
        transform: translateY(-10px);
    }
    
    .hour{
        color:#FFFFFF;
    }
    .graus-hour{
        color:#FFFFFF;
    }
    .blue{
        background: var(--blue-claro);
    }
    .white{
        background-color: var(--white);
    }
    .grey{
        color:#C1C1C1; 
    }
    .all-card{
        border-radius: 10px;
    }
    .p-cards{
        position: relative;
        top: 10px;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }

    .img-clima-card{
        position: relative;
        top: 10px;
        width: 68px;
        height: 68px;
        margin: auto;
    }
}