
*{
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

:root{
  --white : #FFFFFF;
  --blue-claro: #9DBCF3;
  --primary: #255ff4;
  --dur: 1s;
  --input: #ffffff;
}

.mobile-sidebar {
  position: absolute;
  top: 0;
  z-index: 6;
  padding: 10px;
  background-color: #222;
  display: block;
  cursor: pointer;
  font-size: 26px;
}

.mobile-sidebar:hover {
  background-color: lighten(#222, 15%);
}
.mobile-sidebar.mobile-close {
  right: 0;
  border-radius: 0 0 0 50%;
}
.mobile-sidebar.mobile-open {
  left: 0;
  position: fixed;
  border-radius: 0 0 50% 0;
}

.sidebar {
  margin: 0;
  width: 0;
  position: fixed;
  height: 100%;
  flex-grow: 0;
  background-color: #222;
  font-size: 1rem;
  font-weight: 600;
  z-index: 5;
  overflow: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
  padding-top: 1.5rem;
}

.sidebar:target{
  width: 100%;
}

.sidebar__nav ul{
  list-style-type: none;
  padding: 0;
  /*margin: 2.4rem 0;
  position: absolute;*/
  margin: 2.4rem 0;
  text-align: center;
}

.sidebar__nav li {
  
  color: white;
  padding: 1rem 0.7rem;
  cursor: pointer;
  margin: 0;
  transition: all 0.2s ease;
  background-color: #222;
}

.sidebar__nav li span{
  font-size: 20px;
  padding: 0 10px;
  background-color: transparent;
}

.sidebar__nav li:hover{
  transition: all 0.2s ease;
  background-color: rgb(72, 72, 72);
}

.sidebar__nav i {
  font-size: 20px;
  margin-left: 20px;
  transform: scaleY(0);
  transition: all 0.2s ease;
}

.sidebar__nav:hover {
  background-color: lighten(#222, 15%);
}

.sidebar__nav i {
  transform: scaleY(1);
}

.search-close-btn {
  position: fixed;
  top: 20px;
  right: 48px;
  z-index: 200;
  color: #eee;
  font-size: 36px;
  cursor: pointer;
  display: none;
  background-color: #222;
}

.fa-times{
  color: #eee;
  background-color: transparent;
  transition: width 0.5s ease;
}